<div class="smurfy span6 offset4 text-center">
	<h1 class="custom-h1"> How did Kenny die? </h1>

	<%= simple_form_for @pic do |f| %>
		<%= f.input :title, label: 'What is this pic about?', placeholder: 'Title' %>
		<%= f.input :subtitle, label: 'More details' %>
		<%= f.input :message,label: 'Kenny\'s last words' %>
		<%= f.submit "Add my pic", :class => 'btn btn-large btn-warning'%>
	<% end %>

</div>
